<!DOCTYPE html> 
<html lang="pt-br"> 
<head> 
    {% load static %}
    <meta charset="UTF-8"> 
    <title>Confirmar Exclusão</title> 
    <link rel="stylesheet" href="{% static 'exclusao/exclusao.css' %}">

</head> 
<body> 
    <h1>Tem certeza que deseja excluir a tarefa "{{ tarefa.titulo }}"?</h1> 
    <p>Esta ação não pode ser desfeita.</p> 
 
    <form method="POST"> 
        {% csrf_token %} 
        <button type="submit">Sim, tenho certeza</button> 
        <a href="{% url 'detalhe_tarefa' tarefa.id %}">Cancelar</a> 
    </form> 
</body> 
</html>