<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Add nova tarefa</title>
</head>
<body>
    <h1>Adicionar Nova Tarefa</h1>
    <form method ="POST">
        <!---csfr_token serve para proteger o sistema de ataques no envio do formulario-->
        {% csrf_token %} <label for ="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" required><br><br>

        <label for="descricao">Descrição:</label><br>
        <textarea id="descricao" name="descricao"rows="4" cols="50"></textarea><br><br>

        <button type="submit">Salvar Tarefa</button>
    </form>
    <a href="{% url 'listar_tarefas'%}">Cancelar</a>
</body>
</html>